
html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin: auto !important;
    overflow-x: hidden;
    color: #333333;
    padding-bottom: 50px;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
}
li:focus,li:hover,li:active {
    background: transparent;
}
.marginFifty {
    margin-top: 50px;
}
.marginThirty {
    margin-top: 30px;
} 
ul, li {
    list-style: none;
}
a:focus, a:hover, a:active {
    text-decoration: none;
}
button {
    background: transparent;
    border: none;
}
button:hover,
button:active {
    outline: none !important;
    border: none !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #00ccff;
}
.navbar-default .navbar-toggle {
   border: none;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 1px;
}
.menuItem:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: -10px;
    border-bottom: 2px solid white;
} 
#myNavbar .navbar-nav li,
#myNavbar ul.nav.navbar-nav.navbar-right {
    padding: 15px;
}
.menuBar > .navbar-nav > li > a {
    color: #f6f3f3;
    font-weight: bold;
    padding-right: 35px;
}
#myNavbar .navbar-nav li a:hover,
#myNavbar .navbar-nav li a img:hover {
    background: transparent;
    color: #FE6E00;
}
 .menu-tooltip {
    visibility: hidden;
    width: 120px;
    color: #00ccff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 50%;
    margin-left: -60px;

}
.search:hover .menu-tooltip,
.getmore:hover .menu-tooltip,
.message:hover .menu-tooltip,
.help:hover .menu-tooltip,
.notification:hover .menu-tooltip,
.profile:hover .menu-tooltip {
    visibility: visible;
}
.navbar-default .navbar-nav li a:focus {
    background: transparent;
    color: #00ccff;
}
.menuBar .nav > li > a:hover,
.menuBar .navbar-default .navbar-nav li a:hover {
    background: transparent;
    color: #00ccff;
}
 .menuBar .navbar-nav li a:active {
    background: transparent;
    color: #00ccff;
}
.menuBar > .nav > li > a:active {
    background: transparent;
    color: #00ccff;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.navbar-default {
    background-color: #ffffff;
    border: 0;
}
.navbar-collapse {
    overflow-x: hidden;
    border: 0px;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px 0;
    font-size: 18px;
    line-height: 20px;
}
/*.navbar-brand img {
    width: 70%;
    height: auto;
}*/
.services {
    color: white;
}
.services span {
    font-size: 50px;
    line-height: 1em;
}
.navbar-right {
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
}
#myNavbar>ul>li>a {
    display: block;
    padding: 15px 10px;
}
#myNavbar p {
    font-size: 15px;  
}
#menuBar {
    background-color: #1b1464;
    border-radius: 0px;
    margin-bottom: 0;
    padding: 0px;
}
.menuBar {
    width: 500px;
    margin: 0 auto;
}
.navbar, .navbar-collapse.collapse {
    min-height: 34px !important;
    height: auto;
    margin-bottom: 0;
}

header {
    background-color: #00ccff;
    color: rgb(255, 255, 255);
}

.services p {
    font-size: 16px;
    line-height: 1.2;
    padding-left: 30px;
    z-index: 5;
}
.formElements {
    padding-left: 106px;
    padding-top: 40px;
    color: #393737;
}
.labels {
    width: 25%;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}
.quantity-grp label {
    width: auto;
    margin-right: 58px;
}
label {
    font-size: 15px;
    font-weight: 500;
}
.userInputFields {
    display: inline-block;
    font-weight: 300;
}
.userInputFields .input-group {
    display: inline-flex;
    vertical-align: middle;
}
.valign {
    vertical-align: top;
}
#bidinput, #quantity {
    width: 45px;
    border-radius: 10px;
    padding: 5px;
}
output {
    min-width: 35px;
    width: auto;
    height: 30px;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;border: 1px solid #929090;
    box-shadow: 0 0 15px rgba(123, 121, 121, 0.1) inset;
}
output::before {
    content: "$";
}
#maxBid {
    margin-left: 37px;
}
input[type="checkbox"] {
    height: 15px;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
    bottom: 3px;
}
input[type="checkbox"]:active {
   content: '';
   background: #00ccff;
   color:white;
}
input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    width: 30%;
    height: 4px;
    display: inline-block;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #00ccff),
        color-stop(0.15, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #f9f5f5;
    border: 1px solid #C5C5C5;
    height: 15px;
    border-radius: 50%;
    width: 8px;
}
input[type=text], select {
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #929090;
    padding: 10px;
    box-shadow: 0 0 15px rgba(123, 121, 121, 0.1) inset;
    font-size: 13px;
    color: #333333;
    width: 250px;
    height: 40px;
}
#image {
    width: 185px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid #929090;
    box-shadow: 0 0 15px rgba(123, 121, 121, 0.1) inset;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
textarea {
    border-radius: 10px;
    border: 1px solid #929090;
    box-shadow: 0 0 15px rgba(123, 121, 121, 0.1) inset;
    width: 250px;
    height: 130px;
}
textarea::-webkit-scrollbar {
    width: 1em;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #00ccff;
  outline: 1px solid #00ccff;
  }
.type-search, .duration {
    display:inline-block;
    position: relative;
}
.type-search i, .duration i{
    background-color: transparent;
    color: #00ccff;
    right: 0;
    top: 0;
    font-size: 15px;
    padding: 11px;
    cursor: pointer;
    position: absolute;
}
.locImage {
    cursor: pointer;
    background: url("../images/location.png") right no-repeat;
    background-size: 15px 15px;
    background-position: 95% 50%;
}
.duration-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
/*.duration .duration-dropdown option.highlighted {
    background: #00ccff;;
}*/

.duration .duration-dropdown option:focus, 
.duration select option:hover {
    background: #00ccff;
}

#clearBtn, .btn {
    width: 50px;
    height: 25px;
    padding: 0;
    color: white;
    font-size: 13px;
    border-radius: 20px;
    background-color: #00ccff;
    border: 0px solid #00ccff;
    text-align: center;
}
.input-group-addon {
    border: medium none;
    border-radius: 20px;
    height: 35px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    background-color: transparent;
    z-index: 9999999;
}
.input-group {
    display: inline-block;
}
.formElements .content div {
    padding-bottom: 12px;
}
#langOptions_chosen[style] {
    width: 250px !important;
    padding: 0;
}
.chosen-container-multi {
    width: 250px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
    position: absolute;
    top: -3.9px;
    right: -3px;
    display: block;
    width: 12px;
    height: 19px;
    content: "X";
    padding: 3px;
    color: white;
    text-align: center;
    background-color: #00ccff;
    font-size: 10px;
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    font-size: 12px;
    font-family: 'sharpsans';
    background: transparent;
    margin: 10px 5px 3px 0;
    border: 1px solid #00ccff;
}
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 250px;
    min-height: 40px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #929090;
    box-shadow: 0 0 15px rgba(123, 121, 121, 0.1) inset;
    color: grey;
}
.chosen-container-multi .chosen-choices:after {
    content: "\f002";
    position: absolute;
    font-family: FontAwesome;
    font-size: 15px;
    color: #00ccff;
    padding: 11px;
    right: -5px;
    margin-right: 5px;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    margin: 7px 0;
    padding: 5px;
    height: 25px;
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    font-family: 'sharpsans';
    border-radius: 10px;
    border: 1px solid #d8d3d3;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
}
.chosen-container .chosen-results::-webkit-scrollbar {
    width: 1em;
}

.chosen-container .chosen-results::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.chosen-container .chosen-results::-webkit-scrollbar-thumb {
  background-color: #00ccff;
  outline: 1px solid #00ccff;
}
.chosen-container .chosen-results li.highlighted {
    background: #00ccff;;
}
.chosen-container-multi .chosen-drop li:link,
.chosen-container-multi .chosen-drop li:focus,
.chosen-container-multi .chosen-drop li:hover,
.chosen-container-multi .chosen-drop li:active {
    background: #00ccff;
}
.wrapper {
    display: inline-block;
}
.content > .submit {
    padding-top: 20px;
}
#postBtn {
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #00ccff;
    color: white;
}
.submit > a {
    color: rgba(0, 0, 255, 0.6);
    vertical-align: middle;
    font-size: 15px;
    padding-left: 10px;
}
.btn:focus, .btn:active, .btn:hover,
#clearBtn:focus, #clearBtn:active, #clearBtn:hover,
#postBtntn:focus, #postBtn:active, #postBtn:hover
 {
    background: #FF6F00;
    color: white;
    outline: none !important;
}
.container input[type=text]:focus,
textarea:focus, select:focus,
#image:focus,
.chosen-container-active .chosen-choices {
    outline: none;
    border: 1px solid #00ccff;
    box-shadow: 0 0 5px rgba(0,204,255,.3)
}
.checkBox:focus, .checkBox:active {
       outline: none !important;
       text-decoration: none;
       box-shadow: none;
}
input[type='range']:focus {
    border: 0px;
    outline: none !important;
    box-shadow: none;
}
div.pac-item:hover {
    background-color: #00ccff;
    color: white;
    background-position: 0 0;    
}
.pac-icon {
    cursor: pointer;
    background:  url("../images/location.png") right no-repeat;;
    background-size: 15px 15px;
    height: 15px;
    margin-right: 7px;
    margin-top: 6px;  
}


/****************************************************
            payment support styles
*****************************************************/
.header {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    background: #00ccff;
    background-image: url(../images/puzzle1.png),
                      url(../images/puzzle2.png),
                      url(../images/puzzle3.png),
                      url(../images/puzzle5.png),
                      url(../images/puzzle3.png),
                      url(../images/puzzle6.png),
                      url(../images/puzzle4.png),
                      url(../images/puzzle2.png),
                      url(../images/puzzle5.png),
                      url(../images/puzzle3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 45px;
    background-position: 37% 2%, 2%, 95% 34%,45% 91%, 52% 35%, 70% 10%, 68% 98%, 88% 91%,15% 8%, 20% 84%;   
}

.header .container-fluid {
    width: 90%;
    margin: 5%;
}
.listItems {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background: #00ccff;
}
.menu {
    width: 720px;
    margin: 0 auto;
}
.menu .nav {
    margin-bottom: 0;
    height: 40px;
    list-style: none;
}
.menu > .nav > li > a {
    color: #6161ef;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    z-index: 1000;
}
 .menu > .nav > li > a:focus,
 .menu > .nav > li > a:active {
    color: white;
    background: url(../images/line.png) no-repeat center;
    display: inline-block;
    height: 90px;
    background-size: 50px 10px; 
}
.menu > .nav > li > a:hover {
     color: white;
     background: transparent;
}
.searchQuestion {
    top: 60px;
}
.searchQuestion input[type=submit] {
    background: #FE6E00 none repeat scroll 0 0;
    border: 1px solid #FE6E00;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 11px;
    z-index: 9999999;
    color: white;
    font-weight: 600;
}
.searchQuestion input[type=submit]:focus, .searchQuestion input[type=submit]:active {
    outline: none !important;
    border: 1px solid transparent;
}
 #searchtxt input[type=text] {
    width: 350px;
    height: 45px;
    padding-left: 15px;
    border-radius: 20px;
    border: 1px solid #d8d3d3;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 14px;
    font-weight: 600;
 }
.container .pull-left {
    font-size: 50px;
    color: white;
}
.pull-left p {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    padding: 0;
}
#menu {
    border-radius: 0px;
    margin-bottom: 0;
    padding: 0px;
    background: transparent;
}
#content {
    width: 100%;
    min-height: 100%;
    position: absolute;
    height: auto;
    background: #807e7e ;
    background: -webkit-linear-gradient(345deg, rgb(169, 169, 169) 27%, rgb(177, 176, 177) 32%, rgb(169, 168, 169) 50%, rgb(171, 171, 171) 52%, rgb(179, 177, 179) 56%, rgb(187, 187, 187) 65%, rgb(177, 176, 176) 71%, rgb(156, 156, 156) 75%, rgb(124, 124, 124) 100%);
    background: -o-linear-gradient(345deg, rgb(169, 169, 169) 27%, rgb(177, 176, 177) 32%, rgb(169, 168, 169) 50%, rgb(171, 171, 171) 52%, rgb(179, 177, 179) 56%, rgb(187, 187, 187) 65%, rgb(177, 176, 176) 71%, rgb(156, 156, 156) 75%, rgb(124, 124, 124) 100%);
    background: -moz-linear-gradient(345deg, rgb(169, 169, 169) 27%, rgb(177, 176, 177) 32%, rgb(169, 168, 169) 50%, rgb(171, 171, 171) 52%, rgb(179, 177, 179) 56%, rgb(187, 187, 187) 65%, rgb(177, 176, 176) 71%, rgb(156, 156, 156) 75%, rgb(124, 124, 124) 100%);
    background: linear-gradient(345deg, rgb(169, 169, 169) 27%, rgb(177, 176, 177) 32%, rgb(169, 168, 169) 50%, rgb(171, 171, 171) 52%, rgb(179, 177, 179) 56%, rgb(187, 187, 187) 65%, rgb(177, 176, 176) 71%, rgb(156, 156, 156) 75%, rgb(124, 124, 124) 100%);
}
.blocks {
    width: 900px;
    min-height: 180px;
    margin: 35px auto 35px auto;
    background-color: white;
}
.blockText {
     display: inline-block;
     margin: 25px;
     font-size: 20px;
     width: 74%;
 }
 .blockText h4 {
    font-size: 27px;
    font-weight: 600;
    color: #474545;
 }
 .blockShape {
     padding: 23px;
     width: 180px;
     height: 103px;
     position: relative;
 }
 .icon {
    margin-top: 50px;
    margin-left: 15px;
 }
 .icon input[type=button] {
     background: transparent;
     border: none;
     outline: 0 !important;     
     display: inline-block !important;
 }
 .icon input[type=button]::-moz-focus-inner {
   border: 0;
   outline: 0 !important;
}
  input[type=button]:hover,
  input[type=button]:focus, 
  input[type=button]:active {
     background: transparent;
     border: none;
     outline: none !important;
     color: #66FF00;
 } 
 
.shapeOne {
    border-bottom: 160px solid #8F2793;
    border-left: 60px solid transparent;
}
.shapeTwo {
    border-bottom: 160px solid #00ccff;
    border-left: 60px solid transparent;
}
.shapeThree {
    border-bottom: 160px solid #FE6E00;
    border-left: 60px solid transparent;
}
.shapeFour {
    border-bottom: 160px solid #009245;
    border-left: 60px solid transparent;
}
.icon .fa {
    color: white;
    margin-top: 40px;
}

/*********************************************************
                Support Center styles
**********************************************************/

.navigation .pull-right {
    width: 60px;
    height: 65px;
    border-radius: 50%;
    right: 20px;
    top: -25px;
    border:0;
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px grey, inset 0px 3px 1px 1px rgba(204,198,197,.5);
    position: relative;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.navigation .pull-right:focus {
    outline: 0;
}
.supportCenter .img-fluid {
    width: 25%;
    height: auto;
    cursor: pointer;
}
#content span {
   color: white;
   font-size: 40px;
}
.supportIcon .fa {    
    float: right;
    margin-right: -20px;
    margin-top: 10px;
    font-size: 20px;
}
.icon a {
    font-size: 20px;
    float: right;
    line-height: 4.5em;
    padding-top: 10px;
    font-weight: 600;
    color: white;
}
.icon a {
    text-decoration: none;
}
.icon a:hover, .icon a:active {
    color: yellow;
}
.generalBtn {
   background:#00c6ff;
   background: -webkit-radial-gradient(top,#00c6ff 40%,#5c5b5b);
   background: -o-radial-gradient(top,#00c6ff 40%,#5c5b5b);
   background: -moz-radial-gradient(top,#00c6ff 40%,#5c5b5b);
   background: radial-gradient(top,#00c6ff 40%,#5c5b5b);
}
.paymentBtn {
   background:#f86905;
   background: -webkit-radial-gradient(#f86905,#444141);
   background: -o-radial-gradient(#f86905,#444141);
   background: -moz-radial-gradient(#f86905,#444141);
   background: radial-gradient(#f86905,#444141);
}
.profileBtn {
   background:#fb07fb;
   background: -webkit-radial-gradient(#fb07fb,#444141);
   background: -o-radial-gradient(#fb07fb,#444141);
   background: -moz-radial-gradient(#fb07fb,#444141);
   background: radial-gradient(#fb07fb,#444141);
}
.membershipBtn {
   background:#04c404;
   background: -webkit-radial-gradient(#04c404,#444141);
   background: -o-radial-gradient(#04c404,#444141);
   background: -moz-radial-gradient(#04c404,#444141);
   background: radial-gradient(#04c404,#444141);
}
.projectBtn {
   background:#633310;
   background: -webkit-radial-gradient(#633310,#444141);
   background: -o-radial-gradient(#633310,#444141);
   background: -moz-radial-gradient(#633310,#444141);
   background: radial-gradient(#633310,#444141);
}
.btnGeneral {
   background:#f70404;
   background: -webkit-radial-gradient(#f70404,#464242);
   background: -o-radial-gradient(#f70404,#464242);
   background: -moz-radial-gradient(#f70404,#464242);
   background: radial-gradient(#f70404,#464242);
}
/****** payments Page ****/
.paymentsContainer {
    margin-top: 50px;
}
.paymentsContainer h4 {
    font-size: 27px;
    font-weight: 600;
    color: #00ccff;
}
.paymentsContainer p
{
    font-size: 20px;
}
.payments-body {
    width: 720px;
    margin: 0 auto;
}
.related-article {
    padding-top: 30px;
    padding-bottom: 50px;
}
.links {
    width: 35%;
    padding-top: 10px;
    line-height: 1em;
    font-size: 12px;
}
.links h5 {
    font-size: 17px;
    font-weight: 600;
}
.links p {
    font-size: 10px;
}
.sublinks {
    padding-bottom: 20px;
}
.sublinks a:hover,
.sublinks a:active {
    color: #FE6E00;
}
.paymentsContainer .fa {
    color: grey;
    display: inline-block !important;
}
.paymentsContainer input[type=button] {
     background: transparent;
     border: none;
     outline: 0 !important;     
     display: inline-block !important;
 }
 .paymentsContainer input[type=button]::-moz-focus-inner {
   border: 0;
   outline: 0 !important;
}
/***** DASHBOARD STYLES *****/
.menuBar ul.dropdown-menu {  
    right: 4px;
    border-radius: 5px;
    left: auto;
}
.otherjobs-navbar ul.dropdown-menu {
    border: 1px solid #00ccff;
    right: 4px;
    border-radius: 5px;
    left: auto;
}
.menuBar ul ul:before {
    position: absolute;
    top: -9px;
    left: 85px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid white;
    border-left: 9px solid transparent;
    content: '';
}
.otherjobs-navbar ul ul:before {
    position: absolute;
    top: -9px;
    left: 85px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #00ccff;
    border-left: 9px solid transparent;
    content: '';
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-tabs {
    border:0;
    border-bottom: 0px;
}
.nav-tabs .nav-item .nav-link {
    color: white;
}
.nav-tabs .nav-item a:hover,
.nav-tabs .nav-item a:active,
.nav>li>a:focus, 
.nav>li>a:hover {
    background: transparent;
    border: 0;
    outline: none !important;
    color: #00ccff;
} 
.nav-tabs>.nav-item.active>a, 
.nav-tabs>.nav-item.active>a:focus, 
.nav-tabs>.nav-item.active>a:hover {
    color: #00ccff;
    cursor: default;
    background-color: transparent; 
    border: none;
    border-bottom-color: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
     background-color: transparent; 
     border-color: transparent;
     border: 0; 
}
.tab-content header {    
    width: 100%;
    height: auto;     
}
.heading {
    padding: 10px;
}
 .heading span {  
    font-size: 35px;
    font-weight: 600;
}
.otherjobs-navbar .nav-tabs .nav-item .nav-link {
    color: #00ccff;
    font-size: 20px;
    font-weight: 200px;
}
.menuBar {
    width: 550px;
    height: auto;
}
#menuBar li.nav-item {
    color: #f6f3f3;
    font-weight: bold;
    padding-right: 30px;
}
.invities button {
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;    
    border: 0;
    margin: 5px;

}
.invities .fa {
    font-size: 30px;
    color: #00ccff;
    background: transparent;
    text-align: center;
    border: none;
}
.invities .row.marginFifty {
    position: relative;
    left: 30%;
}
.social-media-div {
    border: 1px solid #00ccff;
    width: 65%;
    margin-left: auto;
    margin-right: 0;
    height: auto;
}
.start {
    background: #00ccff;
    color:white;
    font-size: 10px;
    text-align: right;
}
button.powerbtn {
    background:none !important;
    outline:none !important;
    width: auto;
    height: auto;
    border:0;
}
.start .fa {
    font-size: 20px;
    color: white; 
    display: inline-block !important; 
}
.fa-plus {
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;    
    border: 0;
    margin: 5px;
}
.sendInvite {
    border: 3px solid #00ccff;
    background: #00ccff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
}
/*.invite {
    margin: 10px auto;
}*/
.bubble{
	text-align: center;
    width: 65px;
    height: 45px;
    color: #00ccff;
    background: white;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 8.5px;
    font-weight: 600;
    position: relative;
    border: 2px solid #00ccff;
}

.bubble::after {
    background-color: transparent;    
    height: 7px;
    width: 10px;
    position: absolute;
    bottom: -4px;
    left: 10px;
    transform: rotate(80deg) skew(46deg);
    -moz-transform: rotate(80deg) skew(46deg);
    -ms-transform: rotate(80deg) skew(46deg);
    -o-transform: rotate(80deg) skew(46deg);
    -webkit-transform: rotate(80deg) skew(46deg);
    display: inline-block;
    border-bottom: 9px solid white;
    border-left: 9px solid transparent;
    content: '';
}
.bubble a {
    color: #00ccff;
}
.addinvite {
    font-size: 35px;
    width: auto;
    height: 30px;
    font-weight: 600;
}
button.media-icon:hover,
button.media-icon:focus,
button.media-icon:active {
    border: none;
    outline: none;
    color: #FE6E00;
}
.media-icon i.fa:hover,
.media-icon i.fa:focus,
.media-icon i.fa:active {    
    color: #FE6E00;
}
.tab-pane .pull-right input[type=button],
.tab-pane .pull-right select {
    width: 90px;
    height: 25px;
    font-size: 13px;
    text-align: center;
    background: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0;
    box-shadow: none;
}
.table>thead>tr>th {
     font-size: 20px;
     border: none;
}
.table>tbody>tr>td {
    font-size: 20px;
    color: grey;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: center;
    border-top: none;
}
thead>tr>th {
    color: #505050;
}


.verticalLine {
    border-right: 2px solid #00ccff;
}
a.dropdown-item, .dropdown-header {
    text-decoration: none;
    color: grey;
    font-weight: 600;
}
.mainHeader span {
    font-size: 20px;
    color: #191919;
    font-weight: bold;
}
.subHeading h2 {
    color: #00ccff;
    font-weight: bold;
}
.tabpane-menubar .nav-tabs {
    width: 500px;
    margin: 0 auto;
}
.tabpane-menubar .nav-tabs .nav-item .nav-link {
    font-size: 20px;
    color: #00ccff;
    margin-right: 30px;
}
/**** My Disputes styling *****/
.tabpane-menubar > .nav > li > a:focus,
 .tabpane-menubar > .nav > li > a:active,
 .tabpane-menubar > .nav > li > a:visited {    
    background: url(../images/line.png) no-repeat center;
    display: inline-block;
    height: 85px;
    color: #FF6F00;
    background-size: 50px 10px; 
}
td span {
    padding-left: 20px;
}
.edit, .checkMark {
     position: relative;
    display: inline-block;
    color: #00ccff;
}
.edit:hover, .edit:focus, .edit:active,
.checkMark:hover, .checkMark:focus, .checkMark:active {
    outline: none;
    border:none;
    color: #FE6E00;
}
 .edit .text-tooltip,
 .checkMark .text-tooltip {
    visibility: hidden;
    width: 120px;
    color: #00ccff;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 70%;
    margin-left: -60px;
}
.edit:hover .text-tooltip,
.checkMark:hover .text-tooltip  {
    visibility: visible;
}
.tab-pane .pull-right input[type=button]:focus,
.tab-pane .pull-right input[type=button]:hover,
.tab-pane .pull-right input[type=button]:active,
.tab-pane .pull-right select:focus,
.tab-pane .pull-right select:hover,
.tab-pane .pull-right select:active {
    border: 1px solid #00ccff;
    border-radius: 5px;
    color: #00ccff;
    outline: none;
}

/****** MY FAVORITES STYLES *****/
#container {
	text-align: justify;
	}
#container > div {
	width: 250px;
    height: auto;
    border-radius: 10px;
	display: inline-block;
	vertical-align: top;
    border: 1px black solid;
    margin-bottom: 15px;

	/* IE fix. */
	*display: inline;
	zoom: 1;
	}
#container:after {
	content: "";
	width: 100%;
	display: inline-block;
    }
    /**** MY DISPUTES CREATE SUBMENU STYLES ****/

.create .col-md-3 .form-group {
    display: inline-block;
    text-align: center;
    padding-bottom: 20px; 
} 
.create input[type=text], .create select {
    width: 180px;
    height: 35px;
    background: #fbfbfb;
    text-align-last: center;
    padding: 0;
}
.create .labels {
    padding-bottom: 20px;
}
.create textarea {
    max-width: 500px;
    height: 265px;
    padding: 20px;
    resize: none;
    border-radius: 20px;
    border: 1px solid #00ccff;
}
.create form#upload {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.details-group {
    width: auto;
    height: 355px;
}
/******* JOBS STYLES *****/
.jobs header {
    width: 100%;
    height: auto;
    background: #FE6E00;
    color: rgb(255, 255, 255);
}
.jobs .tabpane-menubar .nav-tabs .nav-item .nav-link {
    font-size: 20px;
    color: #FE6E00;
    margin-right: 30px;
}
.jobs .tabpane-menubar .nav-tabs {
    width: 90%;
    margin: 0 auto;
}
.jobproposal-content {
    width: 90%;
    margin: 0 auto;
}
.fa-info {
    background: #00ccff;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
}
.job-details-div, .job-proposal-div {
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 5px #cccccc;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    min-width: 400px;
    min-height: 250px;
    height: auto;
}
.div-header {
    background: #cccccc;
    color: #424242;   
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    border-radius: 12px 12px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.job-description, .proposal-description, .milestone-description {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    font-size: 15px;
    border: none !important;
    outline: none !important;
}
[contentEditable=true]:not(:focus):before {
        content:attr(data-placeholder)
}
.milestone-header {
    background: #FE6E00;
    color: white;
    font-weight: 600;
    padding: 7px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.milestone {
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 5px #cccccc;
    border-radius: 10px;
    min-height: 50px;
    height: auto;
}
.milestone input[type="text"] {
    width: 50px;
    height: 20px;
    border-radius: 0;
    border: 0;
    padding: 0;
}
[contentEditable=true]:not(:focus):before {
        content:attr(data-text)
}
.add-milestone .fa-plus {
    background: #fe6e00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    padding: 3px;
    color: white;
}
#submit-proposal {
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #FE6E00;
    color: white;
}
.milestone-submit {
    text-align: center;
}
.proposal-popup {
    border: 1px solid #cccccc;
}
.proposal-popup .div-header {
    background: #FE6E00;
    color: white;
    padding: 3px;
    text-align: right;
    border-radius: 0;
}
.job-proposal-div .fa-info .proposal-popup {
    visibility: hidden;
    width: 150px;
    min-height: 50px;
    background: white;
    color: grey;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 95%;
}
.job-proposal-div .fa-info:hover .proposal-popup {
    visibility: visible;
}